
<div class="jumbotron ">
  <h1 class="display-4">Welcome to the game </h1>
  <p class="lead">Snakes and ladders a board game created by our grandparents. The
    goal of the game is to be the first player to land precisely on square
    100 by throwing two dices. </p>
  <hr class="my-4">
  <a href="https://github.com/ahmetuygun/snakesAndLadders">Source code on Github</a>

  <p></p>
  <p class="lead">
    <button (click) = "createSession()" class = "btn btn-primary btn-lg"> Start Game</button>
  </p>
</div>


